.header-2 .header-top {
    font-weight: 300;
    font-size: 1.4rem;
    background-color: #fff;
}


.cityline{
font-size: 4.6rem;
    font-weight: 700;
    letter-spacing: -.025em;
    color: #222;
    margin-bottom: 1rem;
    text-transform: uppercase;
    line-height: 1.4em;
}

.productheading{

    color: #333;
    font-weight: 600;
    font-size: 2.4rem;
    letter-spacing: -.025em;
    margin-bottom: 1.4rem;
    background: antiquewhite;
    padding: 3px;
}




.banner img {
    display: block;
    max-width: none;
    width: 100%;
    height: auto;
    padding-top: 20px;
}


.myimage {
    display: block;
    position: relative;
    margin-bottom: 2rem;
    padding-top: 20px;
   
}




@media (min-width: 480px) {


.loginbr{
    
    width: 42px;
}

}

.blog-one__image {
   
    position: relative;
    overflow: hidden;
}


.modal-title {
    text-align: center;
    padding-top: 20px;
    color: #f16101;
    font-size: 31px;
}


.sidebar__category-list-item{
    
    line-height:27px;
    
}

.cbse-img{
    
   border-style: solid;
    border-width: 2px;
    border-color: #ea050573;
    border-top: 0;
    background-color: #fff;
    
    
}


.team-one__name1{
    
    
   
    background: #d85a05;
    padding: 3px;
    margin-bottom: 5px;
    color: #fff;


    
}




@media (min-width: 576px) {.close{


    margin-right: 63px;
    margin-top: 23px;
} }



.video{
    
    padding-top:30px;
    text-align:center;
}













